#dive{
    display: flex;
}
header{
    display: inline;
    margin-top: 30px;
    margin-left: 30px;
    border: 2px solid black;
    position: relative;
    top: 30px;
    left: 10px;
}
h1{
    color: rgb(56, 56, 56);
    height: 70px;
    width: 350px;
    margin-right: 600px;
    margin-top: 100px;
    font-family: 'Ubuntu', sans-serif;
    word-spacing: 8px;
    letter-spacing: 2px;

}
img{
    height: 450px;
    width: 500px;
    margin: 100px 70px 0px 100px;
}
#para1{
    height: 30px;
    width:200px;
    margin: 18px 0px 0px 20px;
    border: 2px solid black;

}
#para2{
    font-size: 17px;
    color: rgb(161, 159, 159);
    height: 140px;
    width: 300px;
    font-family: 'Ubuntu', sans-serif;
  word-spacing: 6px;
  letter-spacing: 2px;
  margin-top: 70px;

}
#para3{
    text-align: center;
    height: 50px;
    width: 200px;
    color:blanchedalmond;
    background-color: black;
    margin-top: 50px;
    padding-top: 25px;
    margin-left: 10px

}

@media (max-width:640px){
    #dive{
        display: inline;
        margin: auto;
    }
    header{
       height: 5px;
       width: 10px;
    }
    h1{ font-size: large;
        height: 60px;
        width: 200px;
        position: relative;
        bottom: 40px;
        left: 100px;
    }
    img{
        margin-top: 10px;
        height: 250px;
        width: 250px;
        position: relative;
        top: 45px;
    }
    #para2{
        font-size: 10px;
        height: 100px;
        width: 150px;
        position: relative;
        left: 100px;
        bottom:100px;
    }
    #para3{
       position: relative;
       left: 80px;
       bottom:150px;
    
    }

}